<!DOCTYPE html>
<html>
  <head>
    <title>Amazen</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
    
    <meta property="og:title" content="Amazen" />
    <meta property="og:image" content="<%= image_url('homepage.png') %>"/>
    <meta property="og:description"
      content="A full-stack single-page app clone of Amazon for users to browse, purchase, and review books." />
    <meta property="og:url"
      content="https://amazen2021.herokuapp.com/#/" />
   
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <script>
     
      var host = "amazen2021.herokuapp.com" 
      if ((host == window.location.host) && (window.location.protocol != "https:")){
        window.location.protocol = "https";
      }
    </script>

  <script>
    window.pwAlert = "<%= image_url("alert-icon.png") %>"
    window.amazenLogo = "<%= image_url("amazen-logo.png") %>"
    window.incorrect_phone = "<%= image_url("incorrect-phone.png") %>"
    window.incorrect_email = "<%= image_url("incorrect-email.png") %>"
    window.incorrect_password = "<%= image_url("incorrect-password.png") %>"
    window.session_footnote = "<%= image_url("session-footnote.png") %>"
    window.email_taken = "<%= image_url("email-taken.png") %>"
    window.nav_amazenLogo = "<%= image_url("nav-amazenLogo.png") %>"
    window.nav_address = "<%= image_url("nav-address.png") %>"
    window.search_icon = "<%= image_url("nav-search-icon.svg") %>"
    window.language_icon = "<%= image_url("language-icon.png") %>"
    window.nav_returns = "<%= image_url("nav-returns.png") %>"
    window.nav_cart = "<%= image_url("nav-cart.png") %>"
    window.nav_mid_all = "<%= image_url("nav-mid-all.png") %>"
    window.warningBan = "<%= image_url("warningBan.svg") %>"
    window.makingStar = "<%= image_url("makingStar.svg") %>"
    window.yellowWarn = "<%= image_url("yellowWarn.png") %>"
    window.all_icon = "<%= image_url("all-icon.svg") %>"
    window.location_icon="<%= image_url("location-icon.png") %>"
    window.usFlag="<%= image_url("usFlag.png") %>"

    window.art_book = "<%= image_url("art_book.png") %>"
    window.bio_book = "<%= image_url("bio_book.png") %>"
    window.bus_book = "<%= image_url("bus_book.png") %>"
    window.child_book = "<%= image_url("child_book.png") %>"
    window.cook_book = "<%= image_url("cook_book.png") %>"
    window.fiction_book = "<%= image_url("fiction_book.png") %>"
    window.history_book = "<%= image_url("history_book.png") %>"
    window.mystery_book = "<%= image_url("mystery_book.png") %>"
    window.romance_book = "<%= image_url("romance_book.png") %>"
    window.teens_book = "<%= image_url("teens_book.png") %>"
    window.fantacy_book = "<%= image_url("scifi_book.png") %>"
    window.bookFilter = "<%= image_url("bookFilter.png") %>"
    window.prime = "<%= image_url("prime.png") %>"
    window.amazenBook = "<%= image_url("amazenBook.png") %>"
    window.bestMonth = "<%= image_url("bestMonth.png") %>"
    window.bookDeals = "<%= image_url("bookDeals.png") %>"
    window.celebrityPicks = "<%= image_url("celebrityPicks.png") %>"

    window.summerReading = "<%= image_url("summerReading.jpg") %>"
    window.page_broken = "<%= image_url("page_broken.png") %>"
    window.avg_star = "<%= image_url("star5.png") %>"
    window.lookInside_bookShow ="<%= image_url("lookInside_bookShow.png") %>"
    window.buyNowCart = "<%= image_url("buyNowCart.png") %>"
    window.addToCart = "<%= image_url("addToCart.png") %>"
    window.addToList = "<%= image_url("addToList.png") %>"
    window.dropDownQuantity =  "<%= image_url("dropDownQuantity.png") %>"
    window.userPic_review =  "<%= image_url("userPic_review.png") %>"
    window.five_star =  "<%= image_url("five_star.png") %>"
    window.four_star =  "<%= image_url("four_star.png") %>"
    window.three_star =  "<%= image_url("three_star.png") %>"
    window.two_star =  "<%= image_url("two_star.png") %>"
    window.one_star =  "<%= image_url("one_star.png") %>"
    window.audible =  "<%= image_url("audiblelogo.png") %>"


    window.cart = "<%= image_url("cart.svg") %>"

    window.profile = "<%= image_url("profile.jpg") %>"
    window.threeDots = "<%= image_url("threeDots.png") %>"

    window.buyAgain = "<%= image_url("buyAgain.png") %>"

    window.green_checkmark = "<%= image_url("green_checkmark.svg") %>"
    

  </script>
  <%= favicon_link_tag asset_path('tab-logo.png') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
