<!DOCTYPE html>
<html>
  <head>
    <title>Amazen</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>

  <script>
    window.pwAlert = "<%= image_url("alert-icon.png") %>"
    window.amazenLogo = "<%= image_url("amazen-logo.png") %>"
    window.incorrect_phone = "<%= image_url("incorrect-phone.png") %>"
    window.incorrect_email = "<%= image_url("incorrect-email.png") %>"
    window.incorrect_password = "<%= image_url("incorrect-password.png") %>"
    window.session_footnote = "<%= image_url("session-footnote.png") %>"
    window.email_taken = "<%= image_url("email-taken.png") %>"
    window.nav_amazenLogo = "<%= image_url("nav-amazenLogo.png") %>"
    window.nav_address = "<%= image_url("nav-address.png") %>"
    window.search_icon = "<%= image_url("search-icon.png") %>"
    window.language_icon = "<%= image_url("language-icon.png") %>"
    window.nav_returns = "<%= image_url("nav-returns.png") %>"
    window.nav_cart = "<%= image_url("nav-cart.png") %>"
    window.nav_mid_all = "<%= image_url("nav-mid-all.png") %>"
  </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
