<!DOCTYPE html>
<html>
  <head>
    <title>Amazen</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>

  <script>
    window.pwAlert = "<%= image_url("alert-icon.png") %>"
    window.amazenLogo = "<%= image_url("amazen-logo.png") %>"
    window.incorrect_phone = "<%= image_url("incorrect-phone") %>"
    window.incorrect_email = "<%= image_url("incorrect-email") %>"
    window.incorrect_password = "<%= image_url("incorrect-password") %>"
  </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
